@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: 'Pretendard', sans-serif;
}

html, body, #__next {
    @apply h-full m-0 p-0;
}

.main-layout {
    @apply flex h-full;
    @apply pb-28 md:pb-0;
}

.mobile-header {
    @apply flex justify-center items-center py-4 bg-white shadow-md md:hidden; /* 작은 화면에서만 표시 */
}

.desktop-header {
    @apply hidden md:flex justify-between items-center bg-white fixed top-0 left-0 right-0 z-10; /* 큰 화면에서만 표시 */
}

h1 {
    @apply mt-8; /* Tailwind CSS의 mt-8 클래스를 사용하여 위에 마진 추가 */
}

.logo {
    @apply text-2xl font-bold md:hidden; /* 작은 화면에서만 표시 */
}

.nav-icons {
    @apply flex space-x-4;
}

.nav-icons svg {
    @apply w-6 h-6 text-black;
}

.content {
    @apply flex-grow overflow-y-auto; /* p-4 패딩 제거 */
}

.footer {
    @apply fixed bottom-0 left-0 w-full bg-white shadow-inner flex justify-around items-center p-4 z-50 lg:hidden;
}

.footer-icons {
    @apply flex justify-around w-full;
}

.footer-icons svg {
    @apply w-6 h-6 text-gray-700 cursor-pointer;
}

.footer-icons svg.active {
    @apply text-purple-500 cursor-pointer;
}


.footer-icons svg.hover {
    @apply text-purple-500 cursor-pointer;
}


.sidebar {
    @apply flex-shrink-0 w-64 flex flex-col items-center hidden md:flex; /* 큰 화면에서만 표시 */
    @apply mt-0; /* 상단 마진 제거 */
}

.sidebar-logo {
    @apply w-full flex justify-center mt-16 mb-36; /* 로고와 메뉴 사이 공백 추가 */
}

.right-sidebar {
    @apply flex-shrink-0 w-64 flex flex-col justify-between hidden md:flex; /* 큰 화면에서만 표시 */
    @apply mt-0; /* 상단 마진 제거 */
    @apply items-center;
    @apply gap-4;
}

//작은 화면 메뉴 페이지 스타일링
.menu-page {
    @apply flex items-center justify-center h-screen bg-gray-100;
}

.menu-list {
    @apply space-y-3;
}

.menu-item {
    @apply cursor-pointer text-lg text-gray-800 hover:text-purple-500 active:text-purple-700;
}
ㄴ
.menu-modal {
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
}

//
.menu-content {
    @apply bg-white p-4 rounded-lg shadow-lg;
}

.menu ul {
    @apply space-y-2;
}

.menu li {
    @apply cursor-pointer hover:text-purple-700;
}

.nav-icons {
    @apply flex justify-between items-center w-24;
}

@media (max-width: 1024px) {
    .sidebar, .right-sidebar {
        @apply fixed inset-y-0 left-0 transform transition-transform duration-300 ease-in-out;
    }

    .sidebar {
        @apply w-full -translate-x-full;
    }

    .right-sidebar {
        @apply w-full translate-x-full;
    }

    .sidebar.open, .right-sidebar.open {
        @apply translate-x-0;
    }
    .content {
        @apply mt-2; /* 작은 화면일 때 컨텐츠가 가리지 않도록 패딩 추가 */
    }

    h1 {
        @apply mt-0; /* Tailwind CSS의 mt-8 클래스를 사용하여 위에 마진 추가 */
    }
}



//프로필페이지
.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.transform-style-3d {
    transform-style: preserve-3d;
}

//메인페이지 스타일링
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    animation: fadeInUp 1s ease-out;
}

.highlight {
    background-color: rgb(170, 0, 255);
    animation: fadeInUp 1s ease-out;
}

.text-stroke {
    -webkit-text-stroke: 1px black;
}

/* 마이페이지 모달 및 동영상 크기 조절 */

.modal-container {
    max-height: 90vh;
    overflow-y: auto;
}

.square-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Maintain aspect ratio */
    background-color: black; /* Fallback color in case video doesn't load */
    overflow: hidden;
    max-height: 80vh; /* Limit the height to prevent the modal from being too tall */
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Cover to maintain aspect ratio */
}

//
:root {
    --color-bg1: hsl(0, 0%, 100%); /* 밝은 연보라색 */
    --color-bg2: #ececff; /* 더 밝은 연보라색 */
    --color1: 120, 170, 255; /* 더 진한 파란색 */
    --color2: 180, 130, 255; /* 더 진한 보라색 */
    --color3: 140, 140, 255; /* 더 진한 파란색 */
    --color4: 110, 200, 255; /* 더 진한 하늘색 */
    --color5: 130, 90, 180; /* 더 진한 보라색 */
    --color-interactive: 190, 140, 255; /* 더 진한 보라색 */
    --circle-size: 80%;
    --blending: hard-light;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.gradient-bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
}

.gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.interactive {
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    border-radius: 50%;
    mix-blend-mode: var(--blending);
}

.g1 {
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%);
    animation: moveVertical 30s ease infinite;
}

.g2 {
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
}

.g3 {
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
}

.g4 {
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}

.g5 {
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
}

.interactive {
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
    );
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

//메인 홈페이지 스타일링
.content-container {
    position: relative;
    width: 100%;
}

button-custom {
    padding: 0.75rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

button-custom:hover {
    background-color: #f3f3f3;
}

button-custom.active {
    background-color: #6b21a8;
    color: white;
}

button-custom.transition-colors {
    transition:
        background-color 0.3s,
        color 0.3s;
}

button-custom.duration-300 {
    transition-duration: 0.3s;
}

button-custom.mr-2 {
    margin-right: 0.5rem;
}

button-custom.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

button-custom.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

button-custom.rounded-lg {
    border-radius: 0.5rem;
}

button-custom.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button-custom.mb-4 {
    margin-bottom: 1rem;
}

button-custom.text-black {
    color: black;
}

button-custom.bg-purple-500 {
    background-color: #6b21a8;
}

button-custom.text-white {
    color: white;
}

button-custom:hover.bg-purple-700 {
    background-color: #4a148c;
}

button-custom.transition {
    transition: all 0.3s;
}

button-custom.rounded-full {
    border-radius: 9999px;
}

button-custom.p-2 {
    padding: 0.5rem;
}

//오버레이
.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.map-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}

.map-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
    display: none;
}

.map-description.visible {
    display: block;
}

.profile-image-wrapper {
    width: 9.7rem;
    height: 8.6rem;

    .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.7rem;
    }
}

.gradient-text {
    background: radial-gradient(circle at center, hwb(278 72% 1%), #8d24d8);
    background-clip: text;
    color: transparent;
}