@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: 'Pretendard', sans-serif;
}

html,
body,
#__next {
    @apply h-full m-0;
}

.main-layout {
    @apply flex h-full;
}

.sidebar {
    @apply flex-shrink-0 w-64 flex flex-col items-center px-8;
}

.right-sidebar {
    @apply flex-shrink-0 w-64 p-6 flex flex-col justify-between;
}

.content {
    @apply flex-grow p-6 overflow-y-auto;
}

button {
    @apply cursor-pointer;
}

//공연 및 연습 장소 페이지에서 swal 알림창 커스텀 스타일링
.tailwind-swal-popup {
    @apply w-64 p-4; /* 너비 및 패딩 조정 */
}

.tailwind-swal-title {
    @apply text-base font-semibold; /* 제목의 글꼴 크기 및 굵기 조정 */
}

.tailwind-swal-content {
    @apply text-sm; /* 내용의 글꼴 크기 조정 */
}

.tailwind-swal-button {
    @apply bg-purple-700 text-white px-4 py-2 rounded-md; /* 버튼 스타일 조정 */
}

//프로필페이지
.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.transform-style-3d {
    transform-style: preserve-3d;
}
